// Place all the styles related to the QuestionsController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}
a {
  color: gray;
  &:hover {
    color: black;
  }
}
.answer {
  background: yellow;
  font-weight: bold;
  h1 {
    font-size: 50px;

  }
}
